<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookmanagerapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconbook"
        android:label="Book Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragment_Activity.Feedback">

        </activity>
        <activity android:name=".Fragment_Activity.SearchBookActivity" />
        <activity
            android:name=".MainFiles.HeadsUpNotification"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Fragment_Activity.HomeActivityHelper.MyAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Fragment_Activity.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fragment_Activity.MyBookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainFiles.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tab_Activity.FirstHelper.PDFOpener" />

        <activity
            android:name=".MainFiles.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>